<html lang="en">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@40;700&display=swap');
            body{
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            .topnav{
                overflow: hidden;
                background-color: #333;
        
            }
            .topnav a{
                float: left;
                color: #f2f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
            .topnava:hover{
                background-color: #ddd;
                color: black;
            }
            .topnav a.active{
                background-color: royalblue;
                color: white;
            }
            .copyright{
                background-color: #333;
                color: #ddd;
            }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Enquiries</title>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/enquire">Enquiries</a>
        <a href="/about">About</a>
    </div>
</head>
<body>
    <br>
    <br>
    <p>Any questions about the source code or the system should be directed to Bafana</p>
    



    <footer>
        <div>
            <h4 style="font-weight: bolder;">Contact Him</h4>
            <p>Email     : mhlahlobafana@gmail.com</p>
            <p>Phone     : 074 7877 409</p>
            <p>Whatsapp  : 074 7877 409</p>
            <p>Instagram : bafana_mhlahlo</p>
            <p>Twitter   : Commander erwin smith</p>
        </div>

        <div class="copyright">
            <hr>
            © Copyright 2021
        </div>
    </footer>
    
</body>
</html>